# editor-specific files
\#*
.#*
*~
.*.swp

# ELF files
*.o
*.a
*.so
*.s

# python bytecode
*.pyc
*.pyo
__pycache__

# workflow
*.orig

# build system
/bin
/.bin

# debugging
callgrind.out.*
perf.data*
.gdb_history

# haskell stuff
*.o
*.hi
*.chi
*.chs.h
*.prof
*.hp
.hpc
.hsenv

# cabal packaging
dist/
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.stack-work/
